* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, sans-serif;
}

.c-categories {
  padding: 40px 171px;
}

.c-categories h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 24px;
}


.c-category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 20px;
  justify-content: center;
}


.c-category-card {
  height: 160px;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.25s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.c-category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}


 
.c-category-card img,
.c-category-card span {
  width: 85px;
  height: 85px;
  object-fit: contain;
  margin-bottom: 8px;
  font-size: 50px;
}

.c-category-card p {
  font-size: 14px;
  font-weight: 600;
  color: #1f2937;
}


@media (max-width: 992px) {

  .c-categories {
    padding: 40px 60px;
  }

  .c-category-grid {
    grid-template-columns: repeat(auto-fill, 110px);
    gap: 18px;
  }

  .c-category-card {
    height: 150px;
  }

  .c-category-card img,
  .c-category-card span {
    width: 75px;
    height: 75px;
  }
}



@media (max-width: 600px) {

  .c-categories {
    padding: 30px 20px;
  }

  .c-categories h2 {
    font-size: 20px;
    text-align: center;
  }

  .c-category-grid {
     grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }

  .c-category-card {
    height: 130px;
    padding: 12px;
  }

  .c-category-card img,
  .c-category-card span {
    width: 60px;
    height: 60px;
  }

  .c-category-card p {
    font-size: 12px;
  }
}