.cart-container {
  background-color: #f4f4f4;
  padding: 40px 80px;
  min-height: 100vh;
}

.breadcrumb {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.cart-icon {
  font-size: 28px;
  color:black !important;
 
}
.cart-title {
  margin:0;
}

.cart-item {
  display: grid;
  grid-template-columns: 150px 1fr 120px 120px 120px 40px;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.cart-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 15px;
}

.cart-info h4 {
  margin: 0;
}

.cart-info p {
  color: #666;
  margin: 5px 0 0;
}

.cart-each,
.cart-total {
  text-align: center;
}

.cart-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;  
}

.cart-qty button {
  width: 35px;
  height: 35px;
  border: 1px solid #999;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s ease;
}

.cart-qty button:hover {
  background: black;
  color: white;
}

.cart-qty span {
   min-width: 20px;
  text-align: center;
  font-weight: 500;
}

.delete-icon {
  color: red;
  cursor: pointer;
}

.proceed-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.proceed-btn {
  background: black;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.proceed-btn,button i {
  margin-left: 6px;
}